---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a
	class="inline-block text no-underline active:font-bold text-gray-600 pr-4"
	href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

